<section id="{{ include.section.section_id }}" class="block contact-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">{{ include.section.title }}</h2>
        {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
        {% if subtitle_is_not_empty %}
        <p class="block-subtitle">
          {{ include.section.subtitle }}
        </p>
        {% endif %}
      </div><!-- .block-header -->
      <div class="block-content">
        {% include contact_form.html %}
      </div><!-- .block-content -->
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->
